.city-weather {
	margin: 10px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	border-radius: 2px;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
	font-weight: 15px;
	font-weight: 300;
	position: relative;
	display: inline-block;
	padding-bottom: 20px;
}

@media only screen and (max-width: 860px) {
	.city-weather {
		display: block;
	}
}

.city-weather>.city-name {
	font-weight: 19px;
	font-weight: 500;
	border-bottom: 1px solid #888;
	margin-bottom: 5px;
}

.city-weather>.city-close {
	position: absolute;
	top: 0px;
	right: 5px;
	display: block;
	color: white;
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 5px;
	width: 26px;
	height: 26px;
}

.city-weather>.city-close:hover {
	background: rgba(0, 0, 0, 0.75);
}

.city-weather>.city-last-update {
	position: absolute;
	bottom: 0px;
	right: 5px;
	display: block;
	color: gray;
	font-size: 13px;
}